.bg-1 {
    position: absolute;
    background-image:
      linear-gradient(to bottom, rgba(37, 37, 37, 0.73), rgba(37, 37, 37, 0.73)),
      url('./fees.png');

    /* Full height */
    height: 40%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
  }

  .para-3 p {
    text-align: center;
    font-family: inherit;
    font-weight: 600;
    margin: 2px;
    color: aliceblue;
    font-size: 40px;
    position: relative;
    top: 37px;
  }

  
  #customers {
    
    border-collapse: collapse;
    width: 100%;
  }

  #customers tr {
    background: #b4b1b5;
  }

  #customers td,
  #customers th {
    border: 1px solid #b4b1b5;
    padding: 8px;
  }

  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #customers tr:hover {
    background-color: #ddd;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  .intro{
    margin-top: 50px;
    margin-left: 360px;
    margin-right: 394px;
    padding: 1rem;
  }
  @media (max-width: 768px){
    .intro{
      margin-top: 50px;
      margin-left: 85px;
      width: 87%;
    } 
    .tables{
      margin-left: 86px;
      width: 87%;
    }

  }
  @media (max-width: 425px){
    .bg-1{
      height: 30%;
    }
    .para-3 p{
      font-size: 30px;
      top: 0px;
    }
    .intro{
      margin-top: -50px;
    margin-left: 4px;
    width: 93%;
  }
  .tables{
    margin-left: 4px;
    width: 99%;
  }
  }
  @media (max-width: 375px){
    .bg-1{
      height: 24%;
    }
    .para-3 p{
      font-size: 28px;
      top: -53px;
    }
    .intro{
      margin-top: -88px;
    margin-left: 3px;
    width: 93%;
  }
  .tables{
    margin-left: 3px;
    width: 99%;
  }
}
@media (max-width: 320px){
  .bg-1{
      height: 21%;
    }
    .para-3 p{
      font-size: 24px;
      top: -53px;
    }
    .intro{
      margin-top: -88px;
    margin-left: 2px;
    width: 92%;
    font-size: 16px;
  }
  .tables{
    margin-left: 2px;
    width: 98%;
    font-size: 16px;
  }
}